.feature-container {
    display: flex;
    margin-top: 30px;
    width: 100%;
    gap: 20px;
    justify-content: center;

}

.feature-info {
    padding-top: 6px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.feature-title {
    font-size: 14px;
    font-weight: 700;
    color: #444;
    text-align: left;
    margin-bottom: 3px;
    text-transform: uppercase;
}

.feature-text {
    font-size: 14px;
    color: #676767;
}


/* -------------------------------------------- */

.feature {
    display: flex;
    gap: 10px;
}

.logo-delivery {
    background-image: url(../../images-feature/shipping.webp);
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: auto;
}


/* ------------------------------------------------------ */



.logo-online {
    background-image: url(../../images-feature/online.webp);
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: auto;
}

/* ---------------------------------------------------------- */



.logo-money {
    background-image: url(../../images-feature/money.webp);
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: auto;
}


/* ---------------------------------------------------------------- */

.feature-member {
    display: flex;
    gap: 10px;
}

.logo-member {
    background-image: url(../../images-feature/member.webp);
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: auto;
}

@media screen and (max-width: 1180px) {
    .feature {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 760px) {
    .feature-container {
        flex-direction: column;
        align-items: center;
        /* padding: 0 0 0 40px; */
    }
}