.title-random-top {
    font-family: "Roboto",sans-serif;
    font-size: 14px;
    font-style: italic;
    margin-bottom: 5px;
}

.title-random-bottom {
    font-family: 'Popins', sans-serif;
    color: #303144;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
}

.post {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 40px;
}

.product {
    display: flex;
    gap: 15px;
}

.description {
    display: flex;
    flex-direction: column;
}

.description__title {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.description__price {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}


.scrapper-items {
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

  }


@media screen and (max-width: 1180px) {
    
}

@media screen and (max-width: 880px) {
    .scrapper-items {
        gap: 65px;
    }
}

@media screen and (max-width:600px) {
    .scrapper-items {
        gap: 65px;
    }
}








