.photo1 {
    background-image: url(../../images-items//1.webp);
    width: 100px;
    height: 100px;
}

.photo2 {
    background-image: url(../../images-items//2.webp);
    width: 100px;
    height: 100px;
}

.photo3 {
    background-image: url(../../images-items//3.webp);
    width: 100px;
    height: 100px;
}

.photo4 {
    background-image: url(../../images-items//4.webp);
    width: 100px;
    height: 100px;
}

.photo5 {
    background-image: url(../../images-items//5.webp);
    width: 100px;
    height: 100px;
}

.photo6 {
    background-image: url(../../images-items//6.webp);
    width: 100px;
    height: 100px;
}

.photo7 {
    background-image: url(../../images-items//7.webp);
    width: 100px;
    height: 100px;
}

.photo8 {
    background-image: url(../../images-items//8.webp);
    width: 100px;
    height: 100px;
}

.photo9 {
    background-image: url(../../images-items//9.webp);
    width: 100px;
    height: 100px;
}

.photo10 {
    background-image: url(../../images-items//10.webp);
    width: 100px;
    height: 100px;
}

.photo11 {
    background-image: url(../../images-items//11.webp);
    width: 100px;
    height: 100px;
}

.photo12 {
    background-image: url(../../images-items//12.webp);
    width: 100px;
    height: 100px;
}





