header {
  width: 100%;
  height: auto;
  background-color: #ADBCC1;
  display: block;

  margin-bottom: 25px;
}

header a {
  color: #fbf5f5;
}

.cart {
  color: white;
}

/* .header-middle-area {
  width: 100%;
} */