@import url(./header/header-middle.css);
@import url(./header/header-top.css);
@import url(./header/header-bottom.css);
@import url(./header/burger-nav.css);

header {
  width: 100%;
  height: auto;
  background-color: #ADBCC1;
  display: block;

  margin-bottom: 25px;
}

header a {
  color: #fbf5f5;
}

.cart {
  color: white;
}