/* .wrapper {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.wrapper .carousel {
  display: flex;
}

.wrapper .carousel .carousel-item {
  white-space: nowrap;
}

.wrapper span {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #ffb3b3;
  text-align: center;
}

.carousel {
  width: 100%;
}

.carousel > * {
  width: calc(100% / 2);
  object-fit: cover;
}

.carousel-item-first {
  background-image: url('https://htmldemo.net/artfurniture/artfurniture/assets/img/slider/1.jpg');
}

.carousel-item-two {
  background-image: url('https://htmldemo.net/artfurniture/artfurniture/assets/img/slider/2.jpg');
} */

/* .carousel-item {
  width: 50%;
  position: relative;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */