.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.footer-logo {
    background-image: url(../../images-logo//logo-2.webp);
    width: 200px;
    height: 50px;
    background-repeat: no-repeat;
    margin-top: -20px;
}


.footer-info {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-info > * {
    font-size: 14px;
    color: #676767;
}

.send-container {
    display: flex;
}

.send-input {
    border: none;
    width: 200px;
    height: 40px;
    font-size: 12px;
    color: #a1a1a1;
    border-radius: 30px 0 0 30px;
    padding: 20px;
}

.send-btn {
    background-color: #252531;
    width: 120px;
    height: 40px;
    font-size: 16px;
    color: #ffffff;
    border-radius: 0 30px 30px 0;
    border: none;
}

.footer-title {
    color: #252531;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
}

.send-title {
    margin-bottom: 20px;
    padding-left: 10px;
}

.send-info {
    font-size: 14px;
    width: 280px;
    line-height: 18px;
    color: #676767;
    margin-top: 20px;
    margin-bottom: 20px;

}



footer {
    background-color: #f6f6f6;
    width: 100%;
    /* height: 50vh; */
    border: 1px solid #d9dadf;
    padding: 80px 30px 30px 30px;
    margin-top: 55px;
    border: 1px solid #d9dadf;
}
  
.footer-bottom {
    padding-top: 30px;
    background-color: white;
    border: 1px solid #d9dadf;
    width: 100%;
    height: 100px;
  
}

.footer-b-left {
    text-align: center;
}

@media screen and (max-width: 1180px){
    footer {

    }
}

@media screen and (max-width: 1000px) {
    .footer-container {
        gap: 30px;
    }
}

@media screen and (max-width: 840px) {

}

@media screen and (max-width: 600px) {

}

@media screen and (max-width: 530px) {

}

.container-partners {
    background-color: #f6f6f6;
    width: 100%;
    height: 200px;
    margin-top: 50px;
    border: 1px solid #d9dadf;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.partner {
    cursor: pointer;
}

.partner path{
    
    transition: fill 0.45s;
}

.partner:hover path {
    fill: black;
}


@keyframes move {
    from {
        left: 90%;
    }
    to {
        left: -60%;
    }
}

@keyframes move2 {
    from {
        left: 120%;
    }
    to {
        left: 0%;
    }
}

/* @keyframes move3 {
    from {
        left: 0%;
    }
    to {
        left: -60%;
    }
}

@keyframes move4 {
    from {
        left: 150%;
    }
    to {
        left: 0%;
    }
}  */





.left-box {
    width: 10%;
    height: 100%;
    background-color: #f6f6f6;
    position: absolute;
    z-index: 2;
}

.right-box {
    width: 10%;
    height: 100%;
    background-color: #f6f6f6;
    position: absolute;
    left: 90%;
}

.container-message {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0 30px 0 30px;
    margin-top: 100px;
}

.message-block {
    width: 30%;
    height: 420px;
    background-color: lightgrey;

    padding: 0 40px 0 40px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
}

.message-photo {
    width: 130px;
    height: 130px;
    /* background-color: YELLOW; */
    background-image: url(https://kartinkin.net/pics/uploads/posts/2022-08/1660617551_30-kartinkin-net-p-raian-gosling-oboi-krasivo-34.jpg);
    margin-top: -60px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 10px solid white;
}

.message-text {
    font-size: 1.0625rem;
    line-height: 2;
    text-align: center;
}

.message-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
}



.message-bottom > h2 {
    color: #2590f4;
    font-weight: 700;
}

.message-bottom > p {
    margin: 7px 0 7px 0;
}