.banner {
  width: 100%;
}

.banner .row .child {
  display: block;
  width: 25%;
  margin-right: 15px;
}

.banner .row .child:last-child {
  display: block;
  width: 25%;
  margin-right: 0;
}

.banner .row .child:nth-child(2) {
  display: block;
  width: 50%;
  padding: 0;
}

.banner .row .child a {
  display: block;
  width: 100%;
  height: 100%;
}

.banner .row .child a img {
  display: block;
  width: 100%;
  object-fit: contain;
}

.banner .row .child a img:hover {
  transform: scale(1.02);
  transition: all 0.6s ease 0s;
}

@media screen and (max-width: 780px) {
  .banner .row {
    display: block;
  }

  .banner .row .child {
    width: 100%;
    margin-bottom: 15px;
    margin-right: 0;
  }
  .banner .row .child:nth-child(2) {
    width: 100%;
  }

  .banner .row .child:last-child {
    width: 100%;
  }
}


