<!DOCTYPE html>
{% load static %}
{% load i18n%}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"
    />
    <title>Furniture</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
  </head>
  <body>
    <header>
      <div class="header-top">
        <div class="container">
          <div class="row">
            <div class="welcome-greeting">
              <span class="welcome-text"
                >Welcome you to ArtFurniture store!</span
              >
            </div>
            <div class="utils">
              <ul>
                <li>
                  <a href="#">KGZ сом</a>
                  <ul>
                    <li><a href="#">US dollar</a></li>
                    <li><a href="#">RU рубль</a></li>
                    <li><a href="#">EU euro</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

          <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                                    <input name="next" type="hidden" value="{{ redirect_to }}">
                                    <select name="language" onchange="this.form.submit()">
                                        {% get_current_language as LANGUAGE_CODE %}
                                        {% get_available_languages as LANGUAGES %}
                                        {% get_language_info_list for LANGUAGES as languages %}
                                        {% for language in languages %}

                                        <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %}
                                                selected{% endif %}>
                                            {{ language.name_local }}
                                        </option>
                                        {% endfor %}
                                    </select>
                                    <!--									<input type="submit" value="ОК">-->
                                </form>
      <div class="line-header"></div>

      <div class="header-middle-area">
        <div class="container">
          <div class="row">
            <div class="logo">
              <a href="index.html">
                <img
                  src="{% static 'images-logo/Orient.png' %}"
                  alt="Artfurniture"
                />
              </a>
            </div>
            <div class="email-part">
              <div class="email">
                <a href="#">
                  <i class="material-symbols-outlined">mail</i>
                </a>
                <span>admin@artfurniture.com</span>
              </div>
            </div>
            <div class="search-card">
              <form action="{% url 'search_results' %}" method="get" class="header-search">
                <input type="text" name="q" placeholder="Search for items..." />
                <button>
                  <a href="#"
                    ><i class="material-symbols-outlined">search</i></a
                  >
                </button>
              </form>

              <div class="cart-box-wrapper">
                <a href="#" class="cart-info">
                  <i class="material-symbols-outlined">shopping_cart</i>
                  <span>2</span>
                </a>
                <span class="cart">My cart</span>
              </div>

              <div class="burger">
                <div class="burger-line line1"></div>
                <div class="burger-line line2"></div>
                <div class="burger-line line3"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="line-header"></div>

      <div class="mainmenu-area header-sticky display-none">
        <div class="container">
          <div class="menu-wrapper">
            <div class="main-menu">
              <nav>
                <ul>
                  <li><a href="index.html">Home</a></li>
                  <li>
                    <a href="#">Shop</a>
                    <ul>
                      <li>
                        <a href="./product-details.html">Product details</a>
                      </li>
                      <li><a href="#">Clothing</a></li>
                      <li><a href="#">Accessories</a></li>
                      <li><a href="#">Shoes</a></li>
                      <li><a href="#">Sale</a></li>
                    </ul>
                  </li>
                  <li><a href="#">About Us</a></li>

                  <li><a href="#">Contact</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </header>

      {% block page%}  {% endblock %}

    <footer>
      <div class="footer-container">
        <div class="footer-stolb-contacts">
          <div class="footer-logo"></div>
          <div class="footer-info">
            <div class="adress">Addresss: No 123 - Furtinure Street, USA</div>
            <div class="phone-t">Phone 01: +(800) 123 456 78</div>
            <div class="phone-b">Phone 02: +(100) 123 456 789</div>
            <div class="phone-fax">Fax : (800) 123 456 789</div>
            <div class="email-info">Email:Contact@hastech.com</div>
          </div>
        </div>

        <div class="footer-stolb-about">
          <div class="footer-title">About us</div>
          <div class="footer-info">
            <div>Site Map</div>
            <div>Site Map</div>
            <div>Site Map</div>
            <div>Site Map</div>
            <div>Site Map</div>
          </div>
        </div>

        <div class="footer-stolb-info">
          <div class="footer-title">INFORMATION</div>
          <div class="footer-info">
            <div>My Account</div>
            <div>Gift Cards</div>
            <div>Return Policy</div>
            <div>Your Orders</div>
            <div>Subway</div>
          </div>
        </div>

        <div class="footer-stolb-send">
          <div class="footer-title">SIGN UP NEWSLETTER</div>
          <div class="send-info">
            Be the first to hear about new trending and offers and see how youve
            helped
          </div>
          <div class="send-container">
            <input
              type="email"
              class="send-input"
              placeholder="Enter your email adress"
            />
            <button class="send-btn">Send</button>
          </div>
        </div>
      </div>
    </footer>

    <div class="footer-bottom">
      <div class="footer-b-left">
        Copyright © 2021HasTech. All rights reserved.
      </div>
      <div class="footer-b-right">
        <div class="logo-twitter"></div>
        <div class="logo-googe"></div>
        <div class="logo-facebook"></div>
        <div class="logo-youtube"></div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="{% static 'burger.js' %}"></script>
    <script src="{% static 'slick.min.js' %}"></script>
    <script src="{% static 'slider.js' %}"></script>
    <script src="{% static 'shop.js' %}"></script>
  </body>
</html>