{% extends 'index.html' %}
{% load static %}
{% load i18n%}
{% block page %}


<body>
    <div class="shop-scrapper">
        <div class="left-side">
            <!-- --------------------------------------------------------------- -->
            <div class="sidebar">
                <h1>SHOP BY</h1>
                {% for category in categories %}
                <div class="filter" data-id="{{category.id}}">
                    <h1>{{category.title}}</h1>

                </div>

                {% endfor %}




            </div>
            <!-- --------------------------------------------------------------- -->
        </div>
        <div class="right-side">
            <div class="photo-main"></div>
            <div class="shop-title">DINING ROOM</div>
            <div class="shop-sort-box">
                <div class="position-scrapper">
                    <div class="position"></div>
                    <div class="position"></div>
                </div>

                <div class="sort-scrapper">
                    <p>Sort By</p>

                    <select name="choose" id="sort">
                        <option value="">Price</option>
                        <option value="position">Position</option>
                        <option value="product-name">Product Name</option>
                    </select>
                </div>
            </div>

            <div class="shop-itemS">
                {% for p in all_products %}

                <div class="shop-item">
                    <div class="shop-photo-scrapper">
                        <a href="./shop.html">
                            <img src="https://htmldemo.net/artfurniture/artfurniture/assets/img/widget/1.jpg" alt="" class="shop-photo">
                        </a>

                        <img src="https://htmldemo.net/artfurniture/artfurniture/assets/img/product/6.jpg" alt="" class="shop-photo-hover">
                    </div>
                    <div class="shop-item-name">Joust Duffle Bag</div>
                    <div class="shop-item-price">$34.00</div>
                </div>
                {% endfor %}



            </div>

            <div class="shop-slider-box">
                <div class="slider">
                    <div class="slider-number"></div>
                </div>
            </div>

        </div>
    </div>



    <!-- <div class="mobile-menu">
        <i class="fa fa-bars"></i>
    </div> -->
    <script src="./shop.js"></script>

</body>
</html>


{% endblock %}