{% extends 'index.html' %}
{% load static %}
{% load i18n%}
{% block page %}


<body>
    <div class="shop-scrapper">
        <div class="left-side">
            <!-- --------------------------------------------------------------- -->
            <div class="sidebar">
                <h1>SHOP BY</h1>
                <div class="filter">
                    <h1>Category</h1>
                    <div class="arrow_example_0"></div>
                </div>
                <div class="bars-scrapper">

                    <div class="checkbox-container">
                        <input type="checkbox"><span>Dining Tables</span>
                    </div>

                    <div class="checkbox-container">
                        <input type="checkbox"><span>Dining Tables</span>
                    </div>

                    <div class="checkbox-container">
                        <input type="checkbox"><span>Dining Tables</span>
                    </div>

                </div>


                <div class="filter">
                    <h1>Color</h1>
                    <div class="arrow_example_0"></div>
                </div>
                    <div class="bars-scrapper">
                        <div class="colors">
                            <div class="red"></div>
                            <div class="red"></div>
                            <div class="red"></div>
                            <div class="red"></div>
                        </div>
                    </div>




                <div class="filter">
                    <h1>Category</h1>
                    <div class="arrow_example_0"></div>
                </div>
                <div class="bars-scrapper">

                    <div class="checkbox-container">
                        <input type="checkbox"><span>Adidas</span>
                    </div>

                    <div class="checkbox-container">
                        <input type="checkbox"><span>Puma</span>
                    </div>

                    <div class="checkbox-container">
                        <input type="checkbox"><span>Toyboss</span>
                    </div>

                </div>

                <div class="filter">
                    <h1>Category</h1>
                    <div class="arrow_example_0"></div>
                </div>

                <div class="bars-scrapper">
                    <div class="checkbox-container">
                        <input type="checkbox"><span>Adidas</span>
                    </div>

                    <div class="checkbox-container">
                        <input type="checkbox"><span>Puma</span>
                    </div>

                    <div class="checkbox-container">
                        <input type="checkbox"><span>Toyboss</span>
                    </div>
                </div>


            </div>
            <!-- --------------------------------------------------------------- -->
        </div>
        <div class="right-side">
            <div class="photo-main"></div>
            <div class="shop-title">DINING ROOM</div>
            <div class="shop-sort-box">
                <div class="position-scrapper">
                    <div class="position"></div>
                    <div class="position"></div>
                </div>

                <div class="sort-scrapper">
                    <p>Sort By</p>

                    <select name="choose" id="sort">
                        <option value="">Price</option>
                        <option value="position">Position</option>
                        <option value="product-name">Product Name</option>
                    </select>
                </div>
            </div>

            <div class="shop-itemS">

                <div class="shop-item">
                    <div class="shop-item-photo"></div>
                    <div class="shop-item-name">Joust Duffle Bag</div>
                    <div class="shop-item-price">$34.00</div>
                </div>

                <div class="shop-item">
                    <div class="shop-item-photo"></div>
                    <div class="shop-item-name">Strive Shoulder Pack</div>
                    <div class="shop-item-price">$34.00</div>
                </div>

                <div class="shop-item">
                    <div class="shop-item-photo"></div>
                    <div class="shop-item-name">Strive Shoulder Pack</div>
                    <div class="shop-item-price">$34.00</div>
                </div>

                <div class="shop-item">
                    <div class="shop-item-photo"></div>
                    <div class="shop-item-name">Strive Shoulder Pack</div>
                    <div class="shop-item-price">$34.00</div>
                </div>

                <!-- --------------------------------------------------------------- -->

                <div class="shop-item">
                    <div class="shop-item-photo"></div>
                    <div class="shop-item-name">Strive Shoulder Pack</div>
                    <div class="shop-item-price">$34.00</div>
                </div>

                <div class="shop-item">
                    <div class="shop-item-photo"></div>
                    <div class="shop-item-name">Strive Shoulder Pack</div>
                    <div class="shop-item-price">$34.00</div>
                </div>

                <div class="shop-item">
                    <div class="shop-item-photo"></div>
                    <div class="shop-item-name">Strive Shoulder Pack</div>
                    <div class="shop-item-price">$34.00</div>
                </div>

                <div class="shop-item">
                    <div class="shop-item-photo"></div>
                    <div class="shop-item-name">Strive Shoulder Pack</div>
                    <div class="shop-item-price">$34.00</div>
                </div>

                <!-- --------------------------------------------------------------- -->

                <div class="shop-item">
                    <div class="shop-item-photo"></div>
                    <div class="shop-item-name">Strive Shoulder Pack</div>
                    <div class="shop-item-price">$34.00</div>
                </div>

                <div class="shop-item">
                    <div class="shop-item-photo"></div>
                    <div class="shop-item-name">Strive Shoulder Pack</div>
                    <div class="shop-item-price">$34.00</div>
                </div>

                <div class="shop-item">
                    <div class="shop-item-photo"></div>
                    <div class="shop-item-name">Strive Shoulder Pack</div>
                    <div class="shop-item-price">$34.00</div>
                </div>

                <div class="shop-item">
                    <div class="shop-item-photo"></div>
                    <div class="shop-item-name">Strive Shoulder Pack</div>
                    <div class="shop-item-price">$34.00</div>
                </div>



            </div>

            <div class="shop-slider-box">
                <div class="slider">
                    <div class="slider-number"></div>
                </div>
            </div>

        </div>
    </div>



    <!-- <div class="mobile-menu">
        <i class="fa fa-bars"></i>
    </div> -->
    <script src="./shop.js"></script>

</body>
</html>


{% endblock %}