{% extends 'index.html' %}
{% load static %}
{% load i18n%}
{% block page %}

    <body>
  <div class="product-page container">
    <div class="product-info">
      <div class="product-image">
        <!--  -->
      </div>
      <div class="product-description">
        <h1>Joust Duffle Bag</h1>
        <div class="rating-review">
          <div class="product-rating">
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
          </div>
          <span>1 review</span>
          <a href="#">Add your review</a>
        </div>
        <span>{{product.price}}</span>
        <span class="model-stock">
          In Stock
          <span>
            <span>SKU</span>
            24-MB01
          </span>
        </span>
        <div class="cart-add">
          <label for="qty">QTY</label>
          <input type="number" id="qty" placeholder="1">
          <a href="#">Add to cart</a>
        </div>
        <div class="action-buttons">
          <a href="#">Add to wish list</a>
          <a href="#">Add to compare</a>
          <a href="#">Email</a>
        </div>
        <div class="product-text">
          <p>The sporty Joust Duffle Bag can't be beat - not in the gym, not on the luggage carousel, not anywhere. Big enough to haul a basketball or soccer ball and some sneakers with plenty of room to spare, it's ideal for athletes with places to go.</p>
        </div>
      </div>
    </div>

    <div class="product-details">
      <div class="product-details-inner">
        <div class="product-details-top">
          <a href="#">Details</a>
        </div>
        <hr>
        <div class="product-details-content">
          <p>Convenience is next to nothing when your day is crammed with action. So whether you're heading to class, gym, or the unbeaten path, make sure you've got your Strive Shoulder Pack stuffed with all your essentials, and extras as well.</p>
          <ul>
            <li>Zippered main compartment.</li>
            <li>Front zippered pocket.</li>
            <li>Side mesh pocket.</li>
            <li>Cell phone pocket on strap.</li>
            <li>Adjustable shoulder strap and top carry handle.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</body>

{% endblock %}