.header-middle-area {
  width: 100%;
  padding-bottom: 15px;
}

.logo a img {
  width: 100px;
  height: 100px;
}

.email {
  display: flex;
  flex-direction: column;
  color: #fff;
}

.search-card {
  width: 50%;
  margin: 30px 0;
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-search {
  width: 70%;
  padding: 10px 25px;
  float: left;
  border-radius: 30px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-search input[type="text"] {
  --webkit-appearance: none;
  outline: none;  
  width: 85%;
  padding: 0 52px 0 25px;
  border: none;
}

.header-search button {
  border: none;
  background-color: transparent;
}

.header-search button a {
  color: #ADBCC1;
}

.cart-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 820px) {
  .email {
    display: none;
  }

  .search-card {
    width: 100%;
    margin: 10px 20px;
  }
}

@media screen and (max-width: 760px) {
  .search-card {
    margin: 10px 0;
  }

  .header-search input[type="text"] {
    --webkit-appearance: none;
    outline: none;  
    width: 85%;
    padding: 0 30px 0 5px;
    border: none;
  }
}