.header-top {
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.welcome-greeting {
  width: 50%;
  color: #fff;
  padding: 12px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.utils {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.utils a {
  padding: 0 25px;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}

.utils li {
  position: relative;
}

.utils ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.utils ul ul {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333;
  display: none;
  transition: all 0.4s ease;
}

.utils ul ul li {
  display: block;
  justify-content: flex-end;
  align-items: center;
}

.utils ul ul li a {
  border-left: none;
  border-right: none;
  font-size: 12px;
}

.utils li:hover ul {
  display: block;
}

@media screen and (max-width: 900px){
  .header-top .row {
    display: flex;
  }

  .utils a {
    border-left: none;
  }
}

@media screen and (max-width: 760px) {
  .header-top .row {
    display: flex;
  }
  .utils a {
    padding: 0 55px;
  }

  .utils a:first-child {
    border-left: none;
  }

  .utils a:last-child {
    border-right: none;
  }
}

@media screen and (max-width: 560px) {
  .utils a {
    padding: 0 20px;
  }
}