.header-middle-area {
  width: 100%;
  padding-bottom: 15px;
}

.logo a img {
  width: 90px;
  height: 90px;
}

.email {
  display: flex;
  flex-direction: column;
  color: #fff;
}

.search-card {
  width: 50%;
  margin: 30px 0;
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-search {
  width: 70%;
  padding: 10px 25px;
  float: left;
  border-radius: 30px;
  background-color: #fff;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-search input[type="text"] {
  --webkit-appearance: none;
  outline: none;  
  width: 85%;
  padding: 0 52px 0 25px;
  border: none;
}

.header-search button {
  border: none;
  background-color: transparent;
}

.header-search button a {
  color: #ADBCC1;
}

.cart-box-wrapper {
  display: flex;
  flex-direction: column;

  color: #fff;
}

.cart-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger {
  width: 35px;
  height: 35px;
  display: none;
}

.burger-line {
  height: 2.5px;
  width: 100%;
  background-color: #fff;
  transition: transform 0.75s ease, opacity 0.75s ease;
}

.burger-nav {
  position: fixed;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	padding: 15px;
  background: #d3d3d3;
	transform: translateX(-100%);
	transition: transform 0.5s;
  z-index: 10;
}

.burger-nav.show {
	transform: translateX(0);
}

.burger-nav ul {
  font-size: 12px;
  font-weight: normal;
}

.burger-nav ul li {
  border-bottom: 1px solid #575757;
  padding: 15px 0 15px 10px;
}

.burger-nav ul li a {
  color: rgb(255, 255, 255);
}

.search-card.show .line1 {
  transform: translate(-10px) rotate(45deg) translate(17px);
  width: 39px;
}
.search-card.show .line2 {
  opacity: 0;
}
.search-card.show .line3 {
  transform: translate(-9px) rotate(-45deg) translate(15px);
  width: 39px;
}
.search-card.show .burger-nav {
  display: block;
}

@media screen and (max-width: 950px) {
  .burger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}

@media screen and (max-width: 820px) {
  .email {
    display: none;
  }

  .search-card {
    width: 100%;
    margin: 10px 20px;
  }
}

@media screen and (max-width: 760px) {
  .search-card {
    margin: 10px 0;
  }

  .header-search input[type="text"] {
    --webkit-appearance: none;
    outline: none;  
    width: 85%;
    padding: 0 30px 0 5px;
    border: none;
  }
}