.menu-wrapper {
  width: 100%;
  height: auto;
}

.main-menu {
  width: 100%;
  height: auto;
}

nav {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.catalog-box:hover {
  background-color: #90a1a7
}

.main-menu nav ul {
  width: 80%;
  display: flex;
  gap: 35px;
  align-items: center;
}

.main-menu nav ul li {
  margin: 18px 0;
  position: relative;
  transition: all 1s ease;
}

.main-menu nav ul li a {
  display: block;
  font-size: 12px;
  padding: 0 30px;
}

.main-menu nav li:not(:last-child)::after{
  content: "";
  position: absolute;
  top: 0px;
  right: -25px;
  bottom: 0px;
  left: -10px;
  border-right: 1px solid #c6cfd2; 
}

.main-menu nav li:last-child::after {
  display: none;
}

.main-menu nav ul li ul {
  min-width: 150px;
  display: none;
  position: absolute;
  top: 15px;
  left: 0;
  background-color: #fff;
  z-index: 5;
  transition: all 1s ease;
}

.main-menu nav ul li:hover ul {
  display: block;
}

.main-menu nav ul li ul li a {
  color: black;
  font-weight: 400;
}

@media screen and (max-width: 990px) {
  .mainmenu-area {
    display: none;
  }
}