.header-top {
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.welcome-greeting {
  color: #fff;
  padding: 12px 0;
}

.utils {
  display: flex;
  align-items: center;
}

.utils ul {
  width: 100%;
  display: flex;
}

.utils li {
  width: 100%;
  position: relative;
}

.utils ul li a {
  width: 100%;
  padding: 0 5px;
  border: 0;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

.utils ul ul {
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333;
  display: none;
  transition: all 0.4s ease;
}

.utils ul ul li {
  width: 100%;
  display: block;
  text-align: center;
}

.utils ul li ul li a {
  width: 100%;
  font-size: 12px;
}

.utils li:hover > ul {
  display: block;
}

@media screen and (max-width: 900px) {
  .header-top .row {
    display: flex;
  }
}